/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-img-top {
    min-height: 250px;
    object-fit: contain;
}

.card-body {
    min-height: 150px;
}

.card {
    min-height: 500px;
    width: 300px;
}